.LoginContainer{
  max-width: 300px;
  margin: auto;
  margin-bottom: 10px;
}

.CreateProduct{
  border-top: solid;
  max-width: 300px;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 10px;
}

.ListItem{
  max-width: 300px;
  border-bottom: dashed;
  padding-bottom: 10px;
  margin: auto;
}

.ListOptions{
  margin: auto;
  max-width: 300px;
  padding-bottom: 10px;
  border-bottom: solid;
}

.ProductList{
  margin: auto;
  max-width: 300px;
  text-align: center;
}